<div class="container">
  <div class="columns is-grapless" >
    <div class="column is-6">
      <div class="columns is-grapless is-multiline" >
        <div class="column is-12">From:</div>
        <div class="column is-12"><date-selector date="$ctrl.startdate"></date-selector></div>
      </div>
    </div>
    <div class="column is-6">
      <div class="columns is-grapless is-multiline" >
        <div class="column is-12">To:</div>
        <div class="column is-12"><date-selector date="$ctrl.enddate"></date-selector></airport-selector></div>
      </div>      
    </div>
  </div>
</div>