<div class="container">
  <div class="columns is-grapless" >
  	<div class="column is-6">
  		<div class="columns is-grapless is-multiline" >
  			<div class="column is-12">Fly out:</div>
  			<div class="column is-12"><airport-selector varairp="$ctrl.flyout" infoairp="$ctrl.routesout"></airport-selector></div>
  		</div>
  	</div>
    <div class="column is-6">
    	<div class="columns is-grapless is-multiline" >
  			<div class="column is-12">Fly back:</div>
  			<div class="column is-12"><airport-selector varairp="$ctrl.flyback" infoairp="$ctrl.routesback"></airport-selector></airport-selector></div>
  		</div>    	
    </div>
  </div>
</div>